<!DOCTYPE html>
<html lang="en">

<head>
  <%= htmlWebpackPlugin.tags.headTags %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>

    <!-- Font Awesome -->
    <link 
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic&display=swap"
      rel="stylesheet" type="text/css" rel="preload">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MQ224HV');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQ224HV" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Navigation -->
  <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
      <li class="sidebar-brand">
        <a href="#top">Marlon Buella</a>
      </li>
      <li>
        <a href="#top">Home</a>
      </li>
      <li>
        <a href="#about">About Me</a>
      </li>
      <li>
        <a href="#skills">My Skills</a>
      </li>
      <li>
        <a href="#works">My Works</a>
      </li>
      <li>
        <a href="#contact">Contact Me</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/resume/resume.pdf" target="_blank">My Resume</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header id="top" class="header">
    <div class="text-vertical-center">
      <h1>Marlon Buella</h1>
      <h3>
        A passionate web developer, helping companies build highly converting websites.
      </h3>
      <br>
      <a href="#contact" class="btn btn-light btn-lg">Contact Me</a>
      <a href="#about" class="btn btn-dark btn-lg ml-2">Know More</a>
    </div>
  </header>

  <!-- About -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-left">
          <h2 class="text-center">About Me</h2>
          <p>&nbsp;</p>
    
          <h4>
            <p>Hello there!</p>
            <p>I am Marlon, a web developer based in Quezon City, Philippines. I am a full-stack developer, specializing in
              backend web application development.</p>
            <p>I develop CMS applications in PHP, built with Drupal and OctoberCMS. I also have a background in developing
              Magento sites for e-commerce.</p>
            <p>My interests are front end development using JS frameworks (VueJS, Riot.js) and Tailwind CSS, and modern
              backend development using NodeJS, MongoDB and GraphQL.</p>
          </h4>
        </div>
        
        <div class="col-lg-12 text-center">
          <p>&nbsp;</p>
          <a href="/resume/resume.pdf" target="_blank" class="btn btn-lg btn-dark">
            <i class="fa fa-file-pdf-o"></i>
            View my resume
          </a>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <!-- Services -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <section id="skills" class="services bg-primary">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
          <h2>My Skills</h2>
          <hr class="small">

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h3>Programming Languages</h3>
              <div class="list text-left mb-5 px-2">
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>PHP</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="95%">
                    <div class="progress-bar bg-lightgreen"  role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                      <span class="sr-only">95%</span>
                    </div>
                  </div>
                </div>
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>Javascript</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="98%">
                    <div class="progress-bar bg-lightgreen"  role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                      <span class="sr-only">98%</span>
                    </div>
                  </div>
                </div>
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>HTML</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="90%">
                    <div class="progress-bar bg-lightgreen"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </div>
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>CSS</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="95%">
                    <div class="progress-bar bg-lightgreen"  role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                      <span class="sr-only">95%</span>
                    </div>
                  </div>
                </div>
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>Python</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="25%">
                    <div class="progress-bar bg-lightgreen"  role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                      <span class="sr-only">25%</span>
                    </div>
                  </div>
                </div>
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>Shell/Bash</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="35%">
                    <div class="progress-bar bg-lightgreen"  role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
                      <span class="sr-only">35%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <h3>Libraries/Framework</h3>
              
              <div class="list text-left mb-5 px-2">
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>Drupal 8</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="95%">
                    <div class="progress-bar bg-lightgreen" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                      <span class="sr-only">95%</span>
                    </div>
                  </div>
                </div>
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>OctoberCMS/Laravel 5</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="90%">
                    <div class="progress-bar bg-lightgreen" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </div>
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>Magento 2</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="50%">
                    <div class="progress-bar bg-lightgreen" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                      <span class="sr-only">50%</span>
                    </div>
                  </div>
                </div>
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>jQuery</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="85%">
                    <div class="progress-bar bg-lightgreen" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                      style="width: 85%;">
                      <span class="sr-only">85%</span>
                    </div>
                  </div>
                </div>
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>Bootstrap 4.0/3.5</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="90%">
                    <div class="progress-bar bg-lightgreen" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                      style="width: 90%;">
                      <span class="sr-only">90%</span>
                    </div>
                  </div>
                </div>
                <div class="item mt-2">
                  <h4 class="m-0 mr-2"><strong>NodeJS</strong></h4>
                  <div class="progress mt-1" data-toggle="tooltip" title="35%">
                    <div class="progress-bar bg-lightgreen" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
                      <span class="sr-only">35%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <!-- Portfolio -->
  <section id="works" class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <h2>My Works</h2>
          <hr class="small">
          <div class="row">
            <div class="col-md-6">
              <div class="portfolio-item">
                <% image=require('./../assets/screenshots/milestone1.jpg?size=458') %>
                  <img class="img-portfolio img-responsive" alt="Pinoy History!" width="<%=image.width%>" height="<%=image.height%>"
                    src="<%=image.placeholder%>" data-src="<%=image.src%>">
                  <div class="portfolio-caption">
                    <div class="portfolio-caption-content">
                      <div class="project-name">
                        <h3>
                          Pinoy History!
                        </h3>
                      </div>
                      <div class="hidden-xs">
                        <p>
                          An imformative blog site which showcases the colorful history of the
                          Philippines, from pre-colonial era to the Japanese occupation.
                        </p>
                      </div>
                    </div>
                    <div class="cta-buttons text-center">
                      <a href="//mbuella.github.io/tuitt-milestone1/" class="btn btn-light" target="_blank">
                        <i class="fa fa-globe"></i>
                      </a>
                      <span>&nbsp;&nbsp;</span>
                      <a href="//github.com/mbuella/tuitt-milestone1" class="btn btn-light" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="portfolio-item">
                <% image=require('./../assets/screenshots/vejeux.jpg?size=458') %>
                  <img class="img-portfolio img-responsive" alt="Vins et Jeux" width="<%=image.width%>" height="<%=image.height%>"
                    src="<%=image.placeholder%>" data-src="<%=image.src%>">
                  <div class="portfolio-caption">
                    <div class="portfolio-caption-content">
                      <div class="project-name">
                        <h3>
                          Vins et Jeux
                        </h3>
                      </div>
                      <div class="hidden-xs">
                        <p>
                          One of the prestigious wine shops in the country, it offers you the
                          finest wines around the world. Champagne? Red wines? We've got it all
                          for you!
                        </p>
                      </div>
                    </div>
                    <div class="cta-buttons text-center">
                      <a href="//vejeux.herokuapp.com/" class="btn btn-light" target="_blank">
                        <i class="fa fa-globe"></i>
                      </a>
                      <span>&nbsp;&nbsp;</span>
                      <a href="//github.com/mbuella/tuitt-milestone-1.5" class="btn btn-light" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="portfolio-item">
                <% image=require('./../assets/screenshots/kwntu1.jpg?size=458') %>
                  <img class="img-portfolio img-responsive" alt="kwntu" width="<%=image.width%>" height="<%=image.height%>"
                    src="<%=image.placeholder%>" data-src="<%=image.src%>">
                  <div class="portfolio-caption">
                    <div class="portfolio-caption-content">
                      <div class="project-name">
                        <h3>
                          kwntu
                        </h3>
                      </div>
                      <div class="hidden-xs">
                        <p>
                          Certified book lover? A self-acclaimed Filipino author? At kwntu,
                          readers explore a new world of fascinating Filipino culture, and writers
                          bring them into a new realm they have never been into.
                        </p>
                      </div>
                    </div>
                    <div class="cta-buttons text-center">
                      <a href="//kwntu.herokuapp.com/" class="btn btn-light" target="_blank">
                        <i class="fa fa-globe"></i>
                      </a>
                      <span>&nbsp;&nbsp;</span>
                      <a href="//github.com/mbuella/tuitt-milestone2" class="btn btn-light" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="portfolio-item">
                <% image=require('./../assets/screenshots/kwntu2.jpg?size=458') %>
                  <img class="img-portfolio img-responsive" alt="kwntu v2.0" width="<%=image.width%>" height="<%=image.height%>"
                    src="<%=image.placeholder%>" data-src="<%=image.src%>">
                  <div class="portfolio-caption">
                    <div class="portfolio-caption-content">
                      <div class="project-name">
                        <h3>
                          kwntu v2.0
                        </h3>
                      </div>
                      <div class="hidden-xs">
                        <p>
                          Yup! kwntu version two. And just got better. Never miss a story on a
                          trend, or that novel you read at night. Who knows, your book could be
                          the next craze in the town!
                        </p>
                      </div>
                    </div>

                    <div class="cta-buttons text-center">
                      <span class="btn btn-light disabled" data-toggle="tooltip" title="Coming soon!">
                        <i class="fa fa-globe"></i>
                      </span>
                      <span>&nbsp;&nbsp;</span>
                      <a href="//github.com/mbuella/tuitt-milestone3" class="btn btn-light" target="_blank">
                        <i class="fa fa-github"></i>
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
          <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <!-- Map -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 text-center">
          <div id="id-photo" class="img-circle img-responsive mt-3">
            <% image = require('./../assets/images/mbuella.png?size=200') %>
            <img alt="Marlon Buella" width="<%=image.width%>" height="<%=image.height%>" src="<%=image.placeholder%>" data-src="<%=image.src%>">
          </div>
          <h4><strong>Marlon B. Buella</strong>
          </h4>
          <p>Block 6 Lot 5, Bistek Ville 3 Banana Island, ESCOPA II, Project 4
            <br>Quezon City, 1109 Philippines
          </p>
          <ul class="list-unstyled">
            <li><i class="fa fa-mobile fa-fw">
              </i>
              <a href="tel:+639273020958">
                +63 (927) 302-0958
              </a>
            </li>
            <li><i class="fa fa-envelope-o fa-fw"></i> <a
                href="mailto:marlon.b.buella@gmail.com">marlon.b.buella@gmail.com</a>
            </li>
          </ul>
          <br>
          <ul class="list-inline">
            <li>
              <a href="//fb.com/lunny.buella" target="_blank">
                <i class="fa fa-facebook fa-fw fa-3x"></i>
              </a>
            </li>
            <li>
              <a href="//lnked.in/mbuella" target="_blank">
                <i class="fa fa-linkedin fa-fw fa-3x"></i>
              </a>
            </li>
            <li>
              <a href="//github.com/mbuella" target="_blank">
                <i class="fa fa-github fa-fw fa-3x"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6">
          <div id="osm-map" class="map mt-3">
            <iframe width="100%" height="425" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=425&amp;hl=en&amp;q=ESCOPA%20II+(Marlon%20Buella)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <hr class="small">
          <p class="text-muted">Template derived from
            <a href="http://startbootstrap.com/template-overviews/stylish-portfolio/" target="_blank">Start
              Bootstrap</a>
          </p>
        </div>
      </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
  </footer>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</body>

</html>